* {
    outline: 1px solid red;
    font-family: 'Roboto';
}

html, body{
  padding: 0;
  margin: 0;
}


ul {
    text-decoration: none;
    list-style-type: none;
    display:flex;
    padding:0;
    margin:0;
    justify-content: center;
    align-items: center;
    gap:12px;
}

strong , p{
    margin:0;
}


button{
    width:100px;
    background-color: #3882F6;
    color:#F9FAF8;
}

.header {
    display:flex;
    justify-content: space-between;
    margin: 0px 0px;
    padding: 0px 32px;
    background-color: #1F2937;
}

.header h3{
    font-size: 24px;
    color:#F9FAF8;
    
}

.header li, .title p{
    font-size:18px;
    color: #E5E7EB;
}

.title-container{
    display:flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding-left:30px;
    gap:30px;
    padding-right:30px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:400px;

}

.title h1{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}

.picture{
    border-radius: 0px;
  background-color: grey;
  padding: 20px;
  width: 350px;
  height: 150px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  color:white;
}


.content-info h2{
    font-size:36px;
    color:#1F2937;
    font-weight: 900;
    text-align: center;
}


.cards{
    display:flex;
    justify-content:space-around;
    gap:52px;
    margin: 0px 100px;
}

.card-text{
    text-align:center;
    color:grey;
}

.card-one , .card-two ,.card-three , .card-four{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-around;

}

.card-pic{
      border: 1px solid #3882F6;
  max-width:200px;
  border-radius: 7px;
  padding: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.quote-container{
    display:flex;
    flex-direction: column;
    padding: 50px 50px;
    background-color: #E5E7EB;
}

.quote{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin:0px;
    font-size:36px;
    font-style: italic;
    color: #1F2937;
}
.quote-author{
    padding:0px;
    margin:0px;
    display: flex;
    align-items: flex-start;
    justify-content: end;
}

.signup-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.signup-block{
    margin:50px;
    display:flex;
}

.signup-text{
    margin:20px;
}

.signup-button-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}


