* {
    outline: 1px solid red;
    font-family: 'Roboto';
}

html, body{
  padding: 0;
  margin: 0;
}


ul {
    text-decoration: none;
    list-style-type: none;
    display:flex;
    padding:0;
    margin:0;
    justify-content: center;
    align-items: center;
    gap:12px;
}

strong , p{
    margin:0;
}


button{
    width:100px;
    background-color: #3882F6;
    color:#F9FAF8;
}

.header {
    display:flex;
    justify-content: space-between;
    margin: 0px 0px;
    padding: 0px 32px;
    background-color: #1F2937;
}

.header h3{
    font-size: 24px;
    color:#F9FAF8
}

.title-container{
    display:flex;
    justify-content: space-around;
    background-color: #1F2937;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:400px;

}

.title h1{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}

.title p{
    font-size:18px;
    color: #E5E7EB;
}

.content-info{
    font-size:36px;
    color:#1F2937;
    font-weight: 900;
}


.cards{
    display:flex;
    justify-content: center;
    gap:52px;
}

.card-one , .card-two ,.card-three , .card-four{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-evenly;
  max-width:200px;
}

.quote-container{
    display:flex;
    flex-direction: column;
    padding: 50px 50px;
    background-color: #E5E7EB;
}

.quote{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin:0px;
    font-size:36px;
    font-style: light italic;
    color: #1F2937;
}
.quote-author{
    padding:0px;
    margin:0px;
    display: flex;
    align-items: flex-start;
    justify-content: end;
}

.signup-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.signup-block{
    margin:50px;
    display:flex;
}

.signup-text{
    margin:20px;
}

.signup-button-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}


